@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

header ul li{
    @apply px-3
}

.bg-primary{
    background: #3E362E;
}

.bg-secondary{
    background: #865D36
}

.mobile-nav{
    @apply fixed top-12 left-0 bg-[#686868] w-full h-1/3;
}
 
.mobile-nav li{
    @apply w-full h-full text-center pt-2 border-b-2;
}

.btn{
    @apply bg-blue-800 px-5 py-2 font-bold mx-3 rounded;
}